{{ define "nav-inventory" }}{{ end }}
{{ define "nav-devices" }}{{ end }}
{{ define "nav-exports" }}{{ end }}
{{ define "nav-configuration" }}{{ end }}
{{ define "nav-credentials" }}{{ end }}
{{ define "nav-erp" }}{{ end }}
{{ define "scripts" }}{{ end }}
{{ define "base" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MikroManager</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/icons/bootstrap-icons.css" rel="stylesheet">
  </head>
  <body>
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">MikroManager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {{ template "nav-inventory" . }}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Inventory
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item {{ template "nav-devices" . }}" href="/">Devices</a></li>
            <li><a class="dropdown-item {{ template "nav-exports" . }}" href="/exports">Exports</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {{ template "nav-configuration" . }}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Configuration
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item {{ template "nav-credentials" . }}" href="/credentials">Credentials</a></li>
            <li><a class="dropdown-item {{ template "nav-erp" . }}" href="/erp">Exports Retention Policy</a></li>
          </ul>
        </li>
      </ul>
      </div>
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="/logout">Sign out</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    {{ template "content" . }}
  </div>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  {{ template "scripts" . }}
  </body>
</html>
{{ end }}
