{{ define "nav-credentials" }}active{{ end }}
{{ define "content" }}
<form method="POST" action="/credentials/edit">
  {{ if ne .Id "" }}
  <legend>Edit credentials</legend>
  <div class="mb-3">
    <label for="disabledIdInput" class="form-label">ID</label>
    <input name="idInput" type="text" id="disabledIdInput" class="form-control" readonly value="{{ .Id }}">
  </div>
  {{ else }}
  <legend>Create credentials</legend>
  {{ end }}
  <div class="mb-3">
    <label for="inputAlias" class="form-label">Alias</label>
    <input name="alias" type="text" class="form-control{{ if ne .Msg "" }} is-invalid{{ end }}" id="inputAlias" aria-describedby="aliasHelp aliasValidationFeedback" required value="{{ .Alias }}">
    <div id="aliasHelp" class="form-text">A human friendly name for the credentials set, "Default" will be used as default credentials. Make sure the alias is unique.</div>
    <div id="aliasValidationFeedback" class="invalid-feedback">
      {{ .Msg }}
    </div>
  </div>
  <div class="mb-3">
    <label for="inputUsername" class="form-label">Username</label>
    <input name="username" type="text" class="form-control" id="inputUsername" required value="{{ .Username }}">
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="inputPassword" aria-describedby="pwHelp" required>
    <div id="pwHelp" class="form-text">The password will be encrypted before storing in the DB.</div>
  </div>
  <a class="btn btn-danger" role="button" href="/credentials">Cancel</a>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{ end }}
