{{ define "nav-credentials" }}active{{ end }}
{{ define "content" }}
<form method="POST" action="/credentials/add">
  <div class="mb-3">
    <label for="inputAlias" class="form-label">Alias</label>
    <input name="alias" type="text" class="form-control" id="inputAlias" required>
    <div id="emailHelp" class="form-text">A human friendly name for the credentials set, "Default" will be used as default credentials. Make sure the alias is unique.</div>
  </div>
  <div class="mb-3">
    <label for="inputUsername" class="form-label">Username</label>
    <input name="username" type="text" class="form-control" id="inputUsername">
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="inputPassword" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">The password will be encrypted before storing in the DB.</div>
  </div>
  <a class="btn btn-danger" role="button" href="/credentials">Cancel</a>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{ end }}
