{{ define "nav-inventory" }}active{{ end }}
{{ define "nav-devices" }}active{{ end }}
{{ define "content" }}
{{ if .Errors }}
{{ range $error := .Errors }}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{ $error }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{ end }}
{{ end }}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Devices</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ .Device.Id }}</li>
  </ol>
</nav>
<legend class="text-center display-6">Device details <a class="btn btn-warning btn-sm" role="button" href="/edit?id={{ .Device.Id }}"><i class="bi-pencil"></i></a></legend>
<hr class="border {{ if eq .Device.PollingSucceeded 0 }}border-danger{{ else }}border-primary{{ end }} border-3 opacity-75">
<div class="row align-items-start">
  <div class="col">
    <dl class="row">
      <dt class="col-sm-3">Identity</dt>
      <dd class="col-sm-9">{{ .Device.Identity }}</dd>

      <dt class="col-sm-3">Arch</dt>
      <dd class="col-sm-9">{{ .Device.ArchitectureName }}</dd>

      <dt class="col-sm-3">Model</dt>
      <dd class="col-sm-9">
        {{ if and (hasPrefix .Device.BoardName "CHR") (eq .Device.ArchitectureName "x86_64") }}
        <a href="https://help.mikrotik.com/docs/pages/viewpage.action?pageId=18350234" target="_blank">
          {{ .Device.BoardName }}
        </a>
        {{ else }}
        <a href="https://mikrotik.com/products?filter&s=c&search={{ .Device.Model }}" target="_blank">
          {{ .Device.Model }}
        </a>
        {{ end }}
      </dd>

      <dt class="col-sm-3">Address</dt>
      <dd class="col-sm-9">
        {{ .Device.Address }}
        <a href="http://{{ .Device.Address }}" target="_blank"><i class="bi-globe"></i></a>
        <a href="ssh://{{ .Device.Address }}" target="_blank"><i class="bi-terminal"></i></a>
      </dd>

      <dt class="col-sm-3">Serial Number</dt>
      <dd class="col-sm-9">{{ or .Device.SerialNumber "Unknown" }}</dd>

      <dt class="col-sm-3">Board Name</dt>
      <dd class="col-sm-9">{{ or .Device.BoardName "Unknown" }}</dd>

      <dt class="col-sm-3">Software Version</dt>
      <dd class="col-sm-9">{{ or .Device.Version "Unknown" }}</dd>

      <dt class="col-sm-3">Latest Software Version</dt>
      <dd class="col-sm-9">
        {{ if ne .Device.InstalledVersion .Device.LatestVersion }}
        <div type="button" data-bs-toggle="modal" data-bs-target="#update-{{ .Device.Id }}" class="text-warning">{{ .Device.LatestVersion }} <i class="bi bi-arrow-up-circle text-warning"></i></div>
        {{ else }}
        <div class="text-success">Up to date</div>
        {{ end }}
      </dd>

      <dt class="col-sm-3">Current Firmware</dt>
      <dd class="col-sm-9">{{ or .Device.CurrentFirmware "Unknown" }}</dd>

      <dt class="col-sm-3">Factory Firmware</dt>
      <dd class="col-sm-9">{{ or .Device.FactoryFirmware "Unknown" }}</dd>

      <dt class="col-sm-3">Upgrade Firmware</dt>
      <dd class="col-sm-9">{{ or .Device.UpgradeFirmware "Unknown" }}</dd>

      <dt class="col-sm-3">Firmware Type</dt>
      <dd class="col-sm-9">{{ or .Device.FirmwareType "Unknown" }}</dd>

      <dt class="col-sm-3">Firmware Build Time</dt>
      <dd class="col-sm-9">{{ or .Device.BuildTime "Unknown" }}</dd>

      <dt class="col-sm-3">Exports</dt>
      <dd class="col-sm-9"><a href="/exports?id={{ .Device.Id }}">{{ len .Exports }}</a></dd>
    </dl>
  </div>
  <div class="col">
    <dl class="row">
      <dt class="col-sm-3">Bad Blocks</dt>
      <dd class="col-sm-9">{{ .Device.BadBlocks }}</dd>

      <dt class="col-sm-3">CPU</dt>
      <dd class="col-sm-9">{{ .Device.CPU }}</dd>

      <dt class="col-sm-3">CPU Count</dt>
      <dd class="col-sm-9">{{ .Device.CpuCount }}</dd>

      <dt class="col-sm-3">CPU Frequency</dt>
      <dd class="col-sm-9">{{ if .Device.CpuFrequency }}{{ .Device.CpuFrequency }} MHz{{ else }}N/A{{ end }}</dd>

      <dt class="col-sm-3">Memory Capacity</dt>
      <dd class="col-sm-9">{{ humahizeBytes .Device.TotalMemory }}</dd>

      <dt class="col-sm-3">Memory Usage</dt>
      <dd class="col-sm-9">{{ if and .Device.TotalMemory .Device.FreeMemory }}{{ memoryUsage .Device.TotalMemory .Device.FreeMemory }}%{{ end }}</dd>

      <dt class="col-sm-3">Last Polled</dt>
      <dd class="col-sm-9">{{ .Device.PolledAt.Format "2006-01-02 15:04:05" }}</dd>

      <dt class="col-sm-3">Created</dt>
      <dd class="col-sm-9">{{ .Device.CreatedAt.Format "2006-01-02 15:04:05" }}</dd>

      <dt class="col-sm-3">Updated</dt>
      <dd class="col-sm-9">{{ .Device.UpdatedAt.Format "2006-01-02 15:04:05" }}</dd>

      <dt class="col-sm-3">Credentials</dt>
      <dd class="col-sm-9">
        {{ if .Device.Credentials }}
        <a href="/credentials/edit?id={{ .Device.Credentials.Id }}"><i class="bi-key"></i> {{ .Device.Credentials.Alias }}</a>
        {{ else }}
        <i class="bi-key"> Unset</i>
        {{ end }}
      </dd>

      <dt class="col-sm-3">Groups</dt>
      <dd class="col-sm-9 list-group">
        {{ range $group := .Device.Groups }}
        <a class="list-group-item list-group-item-action" href="/device/group?id={{ $group.Id }}">{{ $group.Name }}</a>
        {{ end }}
      </dd>
    </dl>
  </div>
</div>
<hr class="border border-success border-3 opacity-75">
<div class="row align-items-start">
  <div class="col">
    {{ if .Health }}
    <h3 class="text-center">Health</h3>
    <table class="table table-striped table-hover">
      {{ if .Health.Voltage }}
      <tr>
        <td>Voltage</td>
        <td>{{ .Health.Voltage }} V</td>
      </tr>
      {{ end }}
      {{ if  .Health.CpuTemp }}
      <tr>
        <td>CPU Temperature</td>
        <td>{{ .Health.CpuTemp }} °C</td>
      </tr>
      {{ end }}
      {{ if .Health.BoardTemp1 }}
      <tr>
        <td>Board Temperature 1</td>
        <td>{{ .Health.BoardTemp1 }} °C</td>
      </tr>
      {{ end }}
      {{ if .Health.BoardTemp2 }}
      <tr>
        <td>Board Temperature 2</td>
        <td>{{ .Health.BoardTemp2 }} °C</td>
      </tr>
      {{ end }}
      {{ if .Health.SfpTemp }}
      <tr>
        <td>SFP Temperature</td>
        <td>{{ .Health.SfpTemp }} °C</td>
      </tr>
      {{ end }}
      {{ if .Health.FanState }}
      <tr>
        <td>Fan State</td>
        <td>{{ .Health.FanState }}</td>
      </tr>
      {{ end }}
      {{ if .Health.Fan1Speed }}
      <tr>
        <td>Fan1 Speed</td>
        <td>{{ .Health.Fan1Speed }} RPM</td>
      </tr>
      {{ end }}
      {{ if .Health.Fan2Speed }}
      <tr>
        <td>Fan2 Speed</td>
        <td>{{ .Health.Fan2Speed }} RPM</td>
      </tr>
      {{ end }}
      {{ if .Health.Fan3Speed }}
      <tr>
        <td>Fan3 Speed</td>
        <td>{{ .Health.Fan3Speed }} RPM</td>
      </tr>
      {{ end }}
      {{ if .Health.Psu1Voltage }}
      <tr>
        <td>PSU 1 Voltage</td>
        <td>{{ .Health.Psu1Voltage }} V</td>
      </tr>
      {{ end }}
      {{ if .Health.Psu2Voltage }}
      <tr>
        <td>PSU 2 Voltage</td>
        <td>{{ .Health.Psu2Voltage }} V</td>
      </tr>
      {{ end }}
      {{ if .Health.PoeOutConsumption}}
      <tr>
        <td>POE Out Consumption</td>
        <td>{{ .Health.PoeOutConsumption }} W</td>
      </tr>
      {{ end }}
      {{ if .Health.JackVoltage }}
      <tr>
        <td>Jack Voltage</td>
        <td>{{ .Health.JackVoltage }} V</td>
      </tr>
      {{ end }}
      {{ if .Health.TwoPinVoltage }}
      <tr>
        <td>2 Pin Voltage</td>
        <td>{{ .Health.TwoPinVoltage }} V</td>
      </tr>
      {{ end }}
      {{ if .Health.PoeInVoltage }}
      <tr>
        <td>POE In Voltage</td>
        <td>{{ .Health.PoeInVoltage }} V</td>
      </tr>
      {{ end }}
    </table>
    {{ end }}
  </div>
  <div class="col">
    {{ if .CpuResources }}
    <h3 class="text-center">Cpu load</h3>
    <table class="table table-striped table-hover">
      <tr>
        <th scope="col">CPU</th>
        <th scope="col">Usage</th>
        <th scope="col">IRQ</th>
        <th scope="col">Disk</th>
      </tr>
      {{ range $core, $value := .CpuResources }}
      <tr>
        <td>{{ $core }}</td>
        <td>{{ $value.Load }} %</td>
        <td>{{ $value.Irq }} %</td>
        <td>{{ $value.Disk }} %</td>
      </tr>
      {{ end }}
    </table>
    {{ end }}
  </div>
</div>

{{ template "update_modal" .Device }}

{{ end }}
