{{ define "nav-devices" }}active{{ end }}
{{ define "content" }}
<form method="POST" action="/edit">
  {{ if ne .Id "" }}
  <legend>Edit device</legend>
  <div class="mb-3">
    <label for="disabledIdInput" class="form-label">ID</label>
    <input name="idInput" type="text" id="disabledIdInput" class="form-control" readonly value="{{ .Id }}">
  </div>
  {{ else }}
  <legend>Create device</legend>
  {{ end }}
  <div class="mb-3">
    <label for="inputAddress" class="form-label">Address</label>
    <input name="address" type="text" class="form-control{{ if ne .Msg "" }} is-invalid{{ end }}" id="inputAddress" aria-describedby="addressHelp addressValidationFeedback" required value="{{ .Address }}">
    <div id="addressHelp" class="form-text">MikroTik API endpoint IP address or FQDN.</div>
    <div id="addressValidationFeedback" class="invalid-feedback">
      {{ .Msg }}
    </div>
  </div>
  <div class="mb-3">
    <label for="inputPort" class="form-label">Port</label>
    <input name="port" type="text" class="form-control" id="inputPort" aria-describedby="portHelp" value="{{ .Port }}">
    <div id="portHelp" class="form-text">MikroTik API endpoint port, will use default port "8728" if ommited.</div>
  </div>
  <div class="mb-3">
    <select name="credentialsId" class="form-select" aria-label="Default select example">
      <option value="">---</option>
    {{ range $creds := .Credentials }}
      <option value="{{ $creds.Id }}">{{ $creds.Alias }}</option>
    {{ end }}
    </select>
  </div>
  <a class="btn btn-danger" role="button" href="/">Cancel</a>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{ end }}
