{{ define "nav-inventory" }}active{{ end }}
{{ define "nav-devices" }}active{{ end }}
{{ define "content" }}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Devices</a></li>
    {{ if ne .Id "" }}
    <li class="breadcrumb-item"><a href="/?id={{ .Id }}">{{ .Id }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
    {{ else }}
    <li class="breadcrumb-item active" aria-current="page">New</li>
    {{ end }}
  </ol>
</nav>
<div class="container">
  <form method="POST" action="/edit">
    {{ if ne .Id "" }}
    <legend class="text-center display-6">Edit device</legend>
    <hr class="border border-primary border-3 opacity-75">
    <div class="row mb-3">
      <label for="disabledIdInput" class="col-sm-2 col-form-label">ID</label>
      <div class="col-sm-10">
        <input name="idInput" type="text" id="disabledIdInput" class="form-control" readonly value="{{ .Id }}">
      </div>
    </div>
    {{ else }}
    <legend class="text-center display-6">Create device</legend>
    <hr class="border border-primary border-3 opacity-75">
    {{ end }}
    <div class="row mb-3">
      <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-10">
        <input name="address" type="text" class="form-control{{ if ne .Msg "" }} is-invalid{{ end }}" id="inputAddress" aria-describedby="addressHelp addressValidationFeedback" required value="{{ .Address }}">
        <div id="addressHelp" class="form-text">MikroTik API endpoint address, IP or FQDN.</div>
        <div id="addressValidationFeedback" class="invalid-feedback">
          {{ .Msg }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputApiPort" class="col-sm-2 col-form-label">API Port</label>
      <div class="col-sm-10">
        <input name="apiPort" type="number" class="form-control" id="inputApiPort" aria-describedby="apiPortHelp" value="{{ .ApiPort }}">
        <div id="apiPortHelp" class="form-text">MikroTik API endpoint port, will use port "8728" if ommited.</div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputSshPort" class="col-sm-2 col-form-label">SSH Port</label>
      <div class="col-sm-10">
        <input name="sshPort" type="number" class="form-control" id="inputSshPort" aria-describedby="sshPortHelp" value="{{ .ApiPort }}">
        <div id="sshPortHelp" class="form-text">MikroTik API endpoint port, will use port "22" if ommited.</div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputCredentialsId" class="col-sm-2 col-form-label">Credentials</label>
      <div class="col-sm-10">
        <select name="credentialsId" class="form-select"  aria-describedby="credentialsHelp">
          <option value="">---</option>
        {{ range $creds := .Credentials }}
          <option value="{{ $creds.Id }}" {{ if eq $.CredentialsId $creds.Id }}selected{{ end }}>{{ $creds.Alias }}</option>
        {{ end }}
        </select>
        <div id="credentialsHelp" class="form-text">Leave blank to use default credentials.</div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-10">
        <a class="btn btn-danger" role="button" href="{{ if ne .Id "" }}/details?id={{ .Id }}{{ else }}/{{ end }}">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
{{ end }}
