{{ define "nav-devices" }}active{{ end }}
{{ define "content" }}
<div class="container">
  <hr class="border border-primary border-3 opacity-75">
  <div class="row align-items-start">
    <div class="col">
      <dl class="row p-3 border bg-light">
        <dt class="col-sm-3">Identity</dt>
        <dd class="col-sm-9">{{ .Identity }}</dd>

        <dt class="col-sm-3">Arch</dt>
        <dd class="col-sm-9">{{ .ArchitectureName }}</dd>

        <dt class="col-sm-3">BoardName</dt>
        <dd class="col-sm-9"><a href="https://mikrotik.com/products?filter&s=c&search={{ .BoardName }}" target="_blank">{{ .BoardName }}</a></dd>

        <dt class="col-sm-3">CPU</dt>
        <dd class="col-sm-9">{{ .CPU }}</dd>

        <dt class="col-sm-3">CPU Count</dt>
        <dd class="col-sm-9">{{ .CpuCount }}</dd>

        <dt class="col-sm-3">CPU Frequency</dt>
        <dd class="col-sm-9">{{ .CpuFrequency }}</dd>

        <dt class="col-sm-3">Platform</dt>
        <dd class="col-sm-9">{{ .Platform }}</dd>
      </dl>
    </div>
    <div class="col">
      <dl class="row p-3 border bg-light">
        <dt class="col-sm-3">CPU Load</dt>
        <dd class="col-sm-9">{{ .CpuLoad }}%</dd>

        <dt class="col-sm-3">Memory Free</dt>
        <dd class="col-sm-9">{{ .FreeMemory }}</dd>

        <dt class="col-sm-3">Last Polled</dt>
        <dd class="col-sm-9">{{ .PolledAt.Format "2006-01-02 15:04:05" }}</dd>

        <dt class="col-sm-3">Version</dt>
        <dd class="col-sm-9">{{ .Version }}</dd>

        <dt class="col-sm-3">BuildTime</dt>
        <dd class="col-sm-9">{{ .BuildTime }}</dd>

        <dt class="col-sm-3">Created</dt>
        <dd class="col-sm-9">{{ .Created.Format "2006-01-02 15:04:05" }}</dd>

        <dt class="col-sm-3">Updated</dt>
        <dd class="col-sm-9">{{ .Updated.Format "2006-01-02 15:04:05" }}</dd>
      </dl>
    </div>
  </div>
</div>
{{ end }}
