{{ define "nav-inventory" }}active{{ end }}
{{ define "nav-devices" }}active{{ end }}
{{ define "content" }}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Devices</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ .Device.Id }}</li>
  </ol>
</nav>
<legend class="text-center display-6">Device details <a class="btn btn-warning btn-sm" role="button" href="/edit?id={{ .Device.Id }}"><i class="bi-pencil"></i></a></legend>
<hr class="border {{ if eq .Device.PollingSucceeded 0 }}border-danger{{ else }}border-primary{{ end }} border-3 opacity-75">
<div class="row align-items-start">
  <div class="col">
    <dl class="row">
      <dt class="col-sm-3">Identity</dt>
      <dd class="col-sm-9">{{ .Device.Identity }}</dd>

      <dt class="col-sm-3">Arch</dt>
      <dd class="col-sm-9">{{ .Device.ArchitectureName }}</dd>

      <dt class="col-sm-3">Model</dt>
      <dd class="col-sm-9">
        {{ if and (hasPrefix .Device.BoardName "CHR") (eq .Device.ArchitectureName "x86_64") }}
        <a href="https://help.mikrotik.com/docs/pages/viewpage.action?pageId=18350234" target="_blank">
          {{ .Device.BoardName }}
        </a>
        {{ else }}
        <a href="https://mikrotik.com/products?filter&s=c&search={{ .Device.Model }}" target="_blank">
          {{ .Device.Model }}
        </a>
        {{ end }}
      </dd>

      <dt class="col-sm-3">Address</dt>
      <dd class="col-sm-9">
        {{ .Device.Address }}
        <a href="http://{{ .Device.Address }}" target="_blank"><i class="bi-globe"></i></a>
        <a href="ssh://{{ .Device.Address }}" target="_blank"><i class="bi-terminal"></i></a>
      </dd>

      <dt class="col-sm-3">Serial Number</dt>
      <dd class="col-sm-9">{{ or .Device.SerialNumber "Unknown" }}</dd>

      <dt class="col-sm-3">Board Name</dt>
      <dd class="col-sm-9">{{ or .Device.BoardName "Unknown" }}</dd>

      <dt class="col-sm-3">Software Version</dt>
      <dd class="col-sm-9">{{ or .Device.Version "Unknown" }}</dd>

      <dt class="col-sm-3">Latest Software Version</dt>
      <dd class="col-sm-9">
        {{ if ne .Device.InstalledVersion .Device.LatestVersion }}
        <div type="button" data-bs-toggle="modal" data-bs-target="#update-{{ .Device.Id }}" class="text-warning">{{ .Device.LatestVersion }} <i class="bi bi-arrow-up-circle text-warning"></i></div>
        {{ else }}
        <div class="text-success">Up to date</div>
        {{ end }}
      </dd>

      <dt class="col-sm-3">Current Firmware</dt>
      <dd class="col-sm-9">{{ or .Device.CurrentFirmware "Unknown" }}</dd>

      <dt class="col-sm-3">Factory Firmware</dt>
      <dd class="col-sm-9">{{ or .Device.FactoryFirmware "Unknown" }}</dd>

      <dt class="col-sm-3">Upgrade Firmware</dt>
      <dd class="col-sm-9">{{ or .Device.UpgradeFirmware "Unknown" }}</dd>

      <dt class="col-sm-3">Firmware Type</dt>
      <dd class="col-sm-9">{{ or .Device.FirmwareType "Unknown" }}</dd>

      <dt class="col-sm-3">Firmware Build Time</dt>
      <dd class="col-sm-9">{{ or .Device.BuildTime "Unknown" }}</dd>

      <dt class="col-sm-3">Exports</dt>
      <dd class="col-sm-9"><a href="/exports?id={{ .Device.Id }}">{{ len .Exports }}</a></dd>
    </dl>
  </div>
  <div class="col">
    <dl class="row">
      <dt class="col-sm-3">Bad Blocks</dt>
      <dd class="col-sm-9">{{ .Device.BadBlocks }}</dd>

      <dt class="col-sm-3">CPU</dt>
      <dd class="col-sm-9">{{ .Device.CPU }}</dd>

      <dt class="col-sm-3">CPU Count</dt>
      <dd class="col-sm-9">{{ .Device.CpuCount }}</dd>

      <dt class="col-sm-3">CPU Frequency</dt>
      <dd class="col-sm-9">{{ if .Device.CpuFrequency }}{{ .Device.CpuFrequency }} MHz{{ else }}N/A{{ end }}</dd>

      <dt class="col-sm-3">CPU Load</dt>
      <dd class="col-sm-9">{{ .Device.CpuLoad }}%</dd>

      <dt class="col-sm-3">Memory Capacity</dt>
      <dd class="col-sm-9">{{ humahizeBytes .Device.TotalMemory }}</dd>

      <dt class="col-sm-3">Memory Usage</dt>
      <dd class="col-sm-9">{{ if and .Device.TotalMemory .Device.FreeMemory }}{{ memoryUsage .Device.TotalMemory .Device.FreeMemory }}%{{ end }}</dd>

      <dt class="col-sm-3">Last Polled</dt>
      <dd class="col-sm-9">{{ .Device.PolledAt.Format "2006-01-02 15:04:05" }}</dd>

      <dt class="col-sm-3">Created</dt>
      <dd class="col-sm-9">{{ .Device.CreatedAt.Format "2006-01-02 15:04:05" }}</dd>

      <dt class="col-sm-3">Updated</dt>
      <dd class="col-sm-9">{{ .Device.UpdatedAt.Format "2006-01-02 15:04:05" }}</dd>

      <dt class="col-sm-3">Credentials</dt>
      <dd class="col-sm-9">
        {{ if .Device.Credentials }}
        <a href="/credentials/edit?id={{ .Device.Credentials.Id }}"><i class="bi-key"></i> {{ .Device.Credentials.Alias }}</a>
        {{ else }}
        <i class="bi-key"> Unset</i>
        {{ end }}
      </dd>

      <dt class="col-sm-3">Groups</dt>
      <dd class="col-sm-9 list-group">
        {{ range $group := .Device.Groups }}
        <a class="list-group-item list-group-item-action" href="/device/group?id={{ $group.Id }}">{{ $group.Name }}</a>
        {{ end }}
      </dd>
    </dl>
  </div>
</div>

{{ template "update_modal" .Device }}

{{ end }}
