{{ define "nav-inventory" }}active{{ end }}
{{ define "nav-exports" }}active{{ end }}
{{ define "content" }}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    {{ if ne .DeviceId "" }}
    <li class="breadcrumb-item"><a href="/exports">Exports</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ .DeviceId }}</li>
    {{ else }}
    <li class="breadcrumb-item active" aria-current="page">Exports</li>
    {{ end }}
  </ol>
</nav>
<legend class="text-center display-6">Exports: {{ .Count }}</legend>
<hr class="border border-primary border-3 opacity-75">
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Device ID</th>
        <th scope="col">Created</th>
        <th scope="col">Filename</th>
      </tr>
    </thead>
    <tbody>
      {{ range $export := .Exports }}
      <tr id="{{ $export.Id }}">
        <td>
          <a href="/details?id={{ $export.DeviceId }}"><i class="bi-clipboard-pulse"></i></a>
          {{ if eq $.DeviceId "" }}
          <a href="/exports?id={{ $export.DeviceId }}"><i class="bi-funnel"></i></a>
          {{ end }}
        </td>
        <td>{{ $export.DeviceId }}</td>
        <td>{{ $export.Created.Format "2006-01-02 15:04:05" }}</td>
        <td><a href="{{ getExportUrl $.BackupPath $export.Filename }}" target="_blank">{{ getExportUrl $.BackupPath $export.Filename }}</a></td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>

<nav aria-label="Pagination">
  <ul class="pagination justify-content-center">
    <li class="page-item{{ if not .Pagination.Previous }} disabled{{ end }}">
      {{ if .Pagination.Previous }}
      <a class="page-link" href="{{ .Pagination.Previous.Url }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
      {{ else }}
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
      {{ end }}
    </li>
    {{ range $page := .Pagination.Pages }}
    <li class="page-item"><a class="page-link{{ if eq $.CurrentPage $page.Number }} active{{ end }}" href="{{ $page.Url }}">{{ $page.Number }}</a></li>
    {{ end }}
    <li class="page-item{{ if not .Pagination.Next }} disabled{{ end }}">
      {{ if .Pagination.Next }}
      <a class="page-link" href="{{ .Pagination.Next.Url }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
      {{ else }}
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
      {{ end }}
    </li>
  </ul>
</nav>
{{ end }}
