{{ define "nav-devices" }}active{{ end }}
{{ define "content" }}
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Identity</th>
      <th scope="col">Address</th>
      <th scope="col">Arch</th>
      <th scope="col">Version</th>
      <th scope="col">Uptime</th>
    </tr>
  </thead>
  <tbody>
  {{ range $device := . }}
    <tr id="{{ $device.Id }}">
      <td>{{ $device.Identity }}</td>
      <td>{{ $device.Address }}</td>
      <td>{{ $device.ArchitectureName }}</td>
      <td>{{ $device.Version }}</td>
      <td>{{ $device.Uptime }}</td>
    </tr>
  {{ end }}
  </tbody>
</table>
{{ end }}
