{{ define "pagination" }}{{ end }}
{{ define "nav-inventory" }}active{{ end }}
{{ define "nav-devices" }}active{{ end }}
{{ define "content" }}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Devices</li>
  </ol>
</nav>
<legend class="text-center display-6">Devices: {{ .Count }}</legend>
<hr class="border border-primary border-3 opacity-75">
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Identity</th>
        <th scope="col">Address</th>
        <th scope="col">API Port</th>
        <th scope="col">SSH Port</th>
        <th scope="col">Arch</th>
        <th scope="col">Version</th>
        <th scope="col">Update Available</th>
        <th scope="col">Uptime</th>
        <th scope="col">Last Polled</th>
        <th scope="col">Groups</th>
        <th scope="col"><a class="btn btn-outline-success btn-sm" role="button" href="/edit"><i class="bi-plus-square"></i></a></th>
      </tr>
    </thead>
    <tbody>
    {{ range $device := .Devices }}
      <tr id="{{ $device.Id }}">
        <td>
          {{ if eq $device.PollingSucceeded 0 }}
          <abbr title="The last device polling attempt has failed" class="bi bi-exclamation-triangle text-danger"></abbr>
          {{ end }}
          {{ if eq $device.PollingSucceeded -1 }}
          <abbr title="The device polling has not been performed yet" class="bi bi-exclamation-triangle text-success"></abbr>
          {{ end }}
        </td>
        <td>{{ $device.Identity }}</td>
        <td>
          {{ $device.Address }}
          <a href="http://{{ $device.Address }}" target="_blank"><i class="bi-globe"></i></a>
          <a href="ssh://{{ $device.Address }}" target="_blank"><i class="bi-terminal"></i></a>
        </td>
        <td>{{ $device.ApiPort }}</td>
        <td>{{ $device.SshPort }}</td>
        <td>{{ $device.ArchitectureName }}</td>
        <td>{{ $device.Version }}</td>
        <td>
          {{ if ne $device.InstalledVersion $device.LatestVersion }}
          <div type="button" data-bs-toggle="modal" data-bs-target="#update-{{ $device.Id }}" class="text-warning">{{ $device.LatestVersion }} <i class="bi bi-arrow-up-circle text-warning"></i></div>
          {{ else }}
          <div class="text-success">Up to date</div>
          {{ end }}
        </td>
        <td>{{ $device.Uptime }}</td>
        <td>
          {{ if not $device.PolledAt.IsZero }}
          {{ $device.PolledAt.Format "2006-01-02 15:04:05" }}
          {{ else }}
          N/A
          {{ end }}
        </td>
        <td>
          {{ range $group := $device.Groups }}
            <a class="list-group-item list-group-item-action" href="/device/group?id={{ $group.Id }}">{{ $group.Name }}</a>
          {{ end }}
        </td>
        <td>
          <a class="btn btn-outline-primary btn-sm" role="button" href="/exports?id={{ $device.Id }}"><i class="bi-archive"></i></a>
          <a class="btn btn-outline-info btn-sm" role="button" href="/details?id={{ $device.Id }}"><i class="bi-clipboard-pulse"></i></a>
          <a class="btn btn-outline-warning btn-sm" role="button" href="/edit?id={{ $device.Id }}"><i class="bi-pencil"></i></a>
          <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#IP{{ replace $device.Address "." "" }}">
            <i class="bi-trash"></i>
          </button>
        </td>
      </tr>

      {{ template "update_modal" $device }}

      <!-- delete modal start -->
      <div class="modal fade" id="IP{{ replace $device.Address "." "" }}" tabindex="-1" aria-labelledby="{{ replace $device.Address "." "" }}Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="{{ replace $device.Address "." "" }}Label">Warning</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              You are about to delete device with address "{{ $device.Address }}", this will also delete all of the backups/exports of the device. Are you sure you want to proceed?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
              <a class="btn btn-danger" role="button" href="/delete?id={{ $device.Id }}">Delete</a>
            </div>
          </div>
        </div>
      </div>
      <!-- delete modal end -->
    {{ end }}
    </tbody>
  </table>
</div>

{{ template "pagination" . }}
{{ end }}
