{{ define "nav-devices" }}active{{ end }}
{{ define "content" }}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Identity</th>
      <th scope="col">Address</th>
      <th scope="col">Port</th>
      <th scope="col">Arch</th>
      <th scope="col">Version</th>
      <th scope="col">Uptime</th>
      <th scope="col">Last Polled</th>
      <th scope="col"><a class="btn btn-success btn-sm" role="button" href="/edit"><i class="bi-plus-square"></i></a></th>
    </tr>
  </thead>
  <tbody>
  {{ range $device := . }}
    <tr id="{{ $device.Id }}">
      <td>{{ $device.Identity }}</td>
      <td><a href="http://{{ $device.Address }}" target="_blank">{{ $device.Address }}</a></td>
      <td>{{ $device.Port }}</td>
      <td>{{ $device.ArchitectureName }}</td>
      <td>{{ $device.Version }}</td>
      <td>{{ $device.Uptime }}</td>
      <td>{{ timeAgo $device.PolledAt }}</td>
      <td>
        <a class="btn btn-info btn-sm" role="button" href="/details?id={{ $device.Id }}"><i class="bi-clipboard-pulse"></i></a>
        <a class="btn btn-warning btn-sm" role="button" href="/edit?id={{ $device.Id }}"><i class="bi-pencil"></i></a>
        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#IP{{ replace $device.Address "." "" }}">
          <i class="bi-trash"></i>
        </button>
      </td>
    </tr>

    <!-- Modal -->
    <div class="modal fade" id="IP{{ replace $device.Address "." "" }}" tabindex="-1" aria-labelledby="{{ replace $device.Address "." "" }}Label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ replace $device.Address "." "" }}Label">Warning</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            You are about to delete device with address "{{ $device.Address }}", this action cannot be undone. Are you sure you want to proceed?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
            <a class="btn btn-danger" role="button" href="/delete?id={{ $device.Id }}">Delete</a>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
  </tbody>
</table>
{{ end }}
