{{ define "nav-configuration" }}active{{ end }}
{{ define "nav-users" }}active{{ end }}
{{ define "content" }}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/users">Users</a></li>
    {{ if ne .Id "" }}
    <li class="breadcrumb-item"><a href="/?id={{ .Id }}">{{ .Id }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
    {{ else }}
    <li class="breadcrumb-item active" aria-current="page">New</li>
    {{ end }}
  </ol>
</nav>
<div class="container">
  <form method="POST" action="/user/edit">
    {{ if ne .Id "" }}
    <legend class="text-center display-6">Edit user</legend>
    <hr class="border border-primary border-3 opacity-75">
    <div class="row mb-3">
      <label for="disabledIdInput" class="col-sm-2 col-form-label">ID</label>
      <div class="col-sm-10">
        <input name="idInput" type="text" id="disabledIdInput" class="form-control-plaintext" readonly value="{{ .Id }}">
      </div>
    </div>
    {{ else }}
    <legend class="text-center display-6">Create user</legend>
    <hr class="border border-primary border-3 opacity-75">
    {{ end }}
    <div class="row mb-3">
      <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-10">
        <input name="username" type="text" class="form-control{{ if ne .Msg "" }} is-invalid{{ end }}" id="inputUsername" aria-describedby="usernameValidationFeedback" required value="{{ .Username }}">
        <div id="usernameValidationFeedback" class="invalid-feedback">
          {{ .Msg }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input name="password" type="password" class="form-control" id="inputPassword" aria-describedby="pwHelp" required>
        <div id="pwHelp" class="form-text">The password will be encrypted before storing in the DB.</div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-10">
        <a class="btn btn-danger" role="button" href="/users">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
{{ end }}
